body {
  background-image: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 1000, from(rgba(245, 245, 245, 1)), to(rgba(100, 100, 100, 1)));
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-device-width: 100px) and (max-device-width: 899px) {
  .wrap {
    margin: auto;
    width: 900px;
    overflow: hidden;
    /* because children will be floated */
  }
  #slides {
    width: 999999px;
    /*padding-top: 150px;*/
  }
  #slides> div {
    height: 600px;
    width: 900px;
    float: left;
    margin-right: 200px;
    text-align: center;
    /* Flexible Box Model */
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    display: box;
    box-align: center;
    box-orient: horizontal;
    box-pack: center;
  }
  #slides h1 {
    font-size: 750%;
  }
  #slides h2 {
    font-size: 250%;
  }
  #slides h3 {
    font-size: 200%;
  }
  #slides h4 {
    font-size: 175%;
    line-height: 1.5em;
  }
  #slides h5 {
    font-size: 150%;
    line-height: 1.5em;
  }
  #slides h6 {
    font-size: 125%;
    line-height: 2em;
  }
  #slides p {
    line-height: 2em;
  }
  #slides li {
    line-height: 2em;
  }
  #slides h1, #slides h2, #slides h3, #slides h4, #slides h5 {
    color: #292929;
    margin-top: 0;
    text-shadow: 5px 3px 0 white;
  }
  #slides> div h2 {
    font-size: 180px;
    line-height: 1em;
    margin: 0;
  }
  #slides> div img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-device-width: 900px) and (max-device-width: 1679px) {
  .wrap {
    margin: auto;
    width: 1180px;
    overflow: hidden;
    /* because children will be floated */
  }
  #slides {
    width: 999999px;
    /*padding-top: 150px;*/
  }
  #slides> div {
    height: 1000px;
    width: 1180px;
    float: left;
    margin-right: 200px;
    text-align: center;
    /* Flexible Box Model */
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    display: box;
    box-align: center;
    box-orient: horizontal;
    box-pack: center;
  }
  #slides h1 {
    font-size: 1500%;
  }
  #slides h2 {
    font-size: 500%;
  }
  #slides h3 {
    font-size: 400%;
  }
  #slides h4 {
    font-size: 350%;
    line-height: 1.5em;
  }
  #slides h5 {
    font-size: 300%;
    line-height: 1.5em;
  }
  #slides h6 {
    font-size: 250%;
    line-height: 2em;
  }
  #slides p {
    font-size: 200%;
    line-height: 2em;
  }
  #slides li {
    font-size: 200%;
    line-height: 2em;
  }
  #slides h1, #slides h2, #slides h3, #slides h4, #slides h5 {
    color: #292929;
    margin-top: 0;
    text-shadow: 5px 3px 0 white;
  }
  #slides> div h2 {
    font-size: 180px;
    line-height: 1em;
    margin: 0;
  }
  #slides> div img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-device-width: 1680px) and (max-device-width: 3000px) {
  .wrap {
    margin: auto;
    width: 1660px;
    overflow: hidden;
    /* because children will be floated */
  }
  #slides {
    width: 999999px;
    /*padding-top: 150px;*/
  }
  #slides> div {
    height: 1200px;
    width: 1660px;
    float: left;
    margin-right: 200px;
    text-align: center;
    /* Flexible Box Model */
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    display: box;
    box-align: center;
    box-orient: horizontal;
    box-pack: center;
  }
  #slides h1 {
    font-size: 3000%;
  }
  #slides h2 {
    font-size: 1000%;
  }
  #slides h3 {
    font-size: 800%;
  }
  #slides h4 {
    font-size: 700%;
    line-height: 1.5em;
  }
  #slides h5 {
    font-size: 600%;
    line-height: 1.5em;
  }
  #slides h6 {
    font-size: 500%;
    line-height: 2em;
  }
  #slides p {
    font-size: 400%;
    line-height: 2em;
  }
  #slides li {
    font-size: 400%;
    line-height: 2em;
  }
  #slides h1, #slides h2, #slides h3, #slides h4, #slides h5 {
    color: #292929;
    margin-top: 0;
    text-shadow: 5px 3px 0 white;
  }
  #slides> div h2 {
    font-size: 180px;
    line-height: 1em;
    margin: 0;
  }
  #slides> div img {
    width: 100%;
    height: auto;
  }
}
