/*
  ========================================
  Main styles
  ========================================
*/

body {
    /*margin: 40px;*/
    margin-top: 0px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 40px;
    /*The following CSS is from https://rainbowcoding.com/how-to-create-rainbow-text-in-html-css-javascript/*/
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
h2 {
    margin: 0px;
    padding: 0;
    padding-top: 10px;
    font-size: 30px;
}
h3 {
    margin: 0px;
    padding: auto;
    font-size: 22px;
    display: block;
}
h4 {
    margin: 0px;
    padding: auto;
    margin-bottom: 400px;
    font-size: 22px;
    display: block;
}
.wrapper {
    margin: auto;
    width: 550px;
    height: 502px;
    border: 7px solid rgba(0, 0, 0, .3);
}
.pxBox {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px rgba(0, 0, 0, .3) solid;
    display: inline-block;
}
.row {
    margin: inherit;
    max-width: 700px;
    height: 20px;
}

/*
  ========================================
  ColorPicker Styles
  ========================================
*/

.colorPicker> div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px black solid;
    display: inline-block;
}
.colorPicker {
    margin: auto;
    max-width: 550px;
}
